

.coloumn {
    margin-bottom: 40px;
    padding: 30px;
    background-color: rgb(255, 234, 237);
}
.coloumn h2 {
    text-align: center;
    font-size: 30px;
    color: var(--dark);
    border-bottom: 1px solid black;
}

.column-text p {
    column-count: 2;
    column-gap: 20px;
    column-rule: 1.2px solid black;
}

.sub-div {
    display: flex;
    padding: 20px;

}

.sub1 {
    width: 50%;
    padding: 20px;
}
.sub2 {
    width: 50%;
    padding: 20px;
}
.sub1 img{
    width: 100%;
    height: auto;
}

.tooltip {
    position: relative;
    text-align: center;
    font-size: 18px;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    height: auto;
    background-color:lightyellow;
    padding: 5px;
    border: 1px dotted lightslategray;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    color: red;
}


.tooltip {
    font-weight: 500;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}