* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new{
    background-color: rgb(223, 250, 254);
    padding: 30px;
    text-align: center;
    
}

.new1 {
    background-image: url('my.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:multiply;
}

.first_button {
    padding: 10px 20px;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    font-weight: 500;

}

.extra {
    margin-top: 10px;

}
.second {
    margin-top: 20px;
    background-color: rgb(110, 197, 197);
    padding: 20px;
}
.second ul li{
    display: inline;
}
.third {
    margin-top: 30px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.third article {
    margin: 20px;
    padding: 20px;
    background-color: cadetblue;
    text-align: center;
    border-radius: 5px;
}
.third article p{
    margin-top: 5px;
}
.third article button {
    padding: 5px 10px;
    border: none;
    border-radius: 5pc;
    color: black;
    font-weight: 600;
    margin-top: 15px;
}

.third article button:hover {
    background-color: rgb(56, 6, 6);
    color: whitesmoke;
    transition: 0.5s;
}


