.transform-part {
    margin-top: 30px;
    background-color: antiquewhite;
}

.transform-part h2 {
    padding: 20px;

}

.transform-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.box {
    padding: 10px;
    background-color: lightcoral;
    border-radius: 5px;
}

.box1:hover {
    transform: translate(30px) rotate(45deg);

}


